.title {
    text-align: center;
    border: 5px solid black;
}

.chicken {
    height: 80px;
    width: 200px;
    padding: 20px;
    border: 2px solid;
    margin: 10px;
    background-color: red;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

.persimmon {
    height: 80px;
    width: 200px;
    padding: 20px;
    border: 2px solid;
    margin: 10px;
    background-color: aqua;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

.mashed {
    height: 80px;
    width: 200px;
    padding: 20px;
    border: 2px solid;
    margin: 10px;
    background-color: cornsilk;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}