.title {
    text-align: center;
    border: 5px solid black;
}

.chicken {
    height: 80px;
    width: 200px;
    padding: 20px;
    border: 2px solid;
    margin: 10px;
    background-color: red;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    font-size: 15px;
}

.persimmon {
    height: 80px;
    width: 200px;
    padding: 20px;
    border: 2px solid;
    margin: 10px;
    background-color: aqua;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    font-size: 15px;
}

.mashed {
    height: 80px;
    width: 200px;
    padding: 20px;
    border: 2px solid;
    margin: 10px;
    background-color: cornsilk;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    font-size: 15px;
}


.desc {
    border-bottom: 2px solid;
}

.ingredients {
    border-bottom: 2px solid;
}

.steps {
    border-bottom: 2px solid;
}

.home {
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid;
    background-color: coral;
}
